<div class="container-fluid" id="main">
<div class="row">
	<div class="col-xs-6" id="left">
		<p><%=t'summary'%>: <%= @region.name %> <%=t'in years'%> 2009-2014</p>
		<p><%=t'most_popular_group'%>: <span id="highest-council"></span></p>
		<div class="small-pie-chart" id="council"></div>
		<div class="comments-container">
			<p><%=t('comment_section')%></p>
			<div class="comments">
				<% @comments.each do |comment| %>
					<div class="comment">
						<p>
							comment by: <%= User.find(comment.user_id).name %>, at: <%= comment.date %>
							<% if comment.allowedToEdit(session[:user_id]) %><a class="delete-comment-link" data-commentid="<%= comment.id %>" style="cursor: pointer; float: right;"><%=t'delete'%></a><% end %>
						</p>
						<p><%= comment.message %></p>
					</div>					
				<% end %>
			</div>
			<% if !session[:user_id].nil? %>
				<div class="add-comment">
					<form id="new-comment">
						<input type="hidden" name="region-id" value="<%= @region_id %>"/>
						<input type="hidden" name="user-id" value="<%= session[:user_id] %>"/>
						<p><textarea id="message-body" name="comment-message"></textarea></p>
						<p><%=t'have'%> <span id="characters-left">300</span> <%=t'chars'%></p>
						<p><input type="submit" value=<%=t('add')%>/></p>
					</form>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-xs-6">
		<p><%=t'summary'%> <%= @police_region.name %> <%=t'police region'%> <%=t'in years'%> 2009-2014</p>
		<p><%=t'most_popular'%>: <span id="highest-crime"></span></p>
		<p><%=t'most_violent'%>: <span id="highest-violent"></p>
		<div class="small-pie-chart" id="crimes"></div>
		<div class="small-pie-chart" id="violent"></div>
	</div>
</div>
</div>


<%= javascript_tag do %>
  window.policeRegionId = '<%= @police_region_id %>';
  window.regionId = '<%= @region_id %>';
<% end %>

<script>
	
	$(document).ready(function() {
	$.ajax({
		type: "GET",
		url: "/regions/"+regionId,
		dataType: "json",
		success: function(crimes) {
			var newCrimes = createCrimesCouncilPieChart(crimes, translate);
			
			//get highest
			var highest = ["", 0];
			for (group in newCrimes) {
				if (newCrimes[group] > highest[1]) highest = [group, newCrimes[group]];
			}
			$("#highest-council").text(translate[highest[0]]);
		}
	});
	
	$.ajax({
		type: "GET",
		url: "/police_regions/"+policeRegionId,
		dataType: "json",
		success: function(crimes) {
			var newCrimes = createCrimesRegionPieChart(crimes, "all", translate);
			var newViolentCrimes = createViolentRegionPieChart(crimes, "all", translate);
			
			//get highest
			var highest = ["", 0];
			for (index in newCrimes) {
				if (newCrimes[index].y > highest[1]) highest = [newCrimes[index].name, newCrimes[index].y];
			}
			$("#highest-crime").text(translate[highest[0]]);
			
			highest = ["", 0];
			for (index in newViolentCrimes) {
				if (newViolentCrimes[index].y > highest[1]) highest = [newViolentCrimes[index].name, newViolentCrimes[index].y];
			}
			$("#highest-violent").text(translate[highest[0]]);
		}
	});
	
	//comments
	$("#message-body").keyup(function(){
		var max = 300;
		var text = $("#message-body").val();
		len  = text.length 
		if (len > max) {
			var newText = "";
			for (var i = 0; i < max; i++) {
				newText += text[i];
			}
			$("#message-body").val(newText);
		}
		$("#characters-left").text(max - $("#message-body").val().length);
	});
	
	$("#new-comment").submit(function(e) {
		e.preventDefault();
		if(validateComment()) {
			var params = {
				message: $('#new-comment').find('textarea[name="comment-message"]').val(),
				region_id: $('#new-comment').find('input[name="region-id"]').val(),
				user_id: $('#new-comment').find('input[name="user-id"]').val(),
			};
			$.ajax({
				type: "POST",
				url: "/comments/create",
				data: params,
				dataType: "json",
				success: function(comment) {
					$(".comments").append(
						'<div class="comment">' +
						'<p>comment by:' + comment.username + ', at: ' + comment.date + "</p><p>" + 
						comment.message +
						'</p></div>'
					);
				}
			});
			$('#newcomment').find('textarea[name="message[body]"]').val("");
		}
	});
	
	$(".delete-comment-link").click(function(e) {
		e.preventDefault();
		var id = $(this).data("commentid");
		console.log(id);
		$.ajax({
			type: "GET",
			url: "/comments/delete/" + id,
			dataType: "json",
			success: function(x) {
			}
		});
		$(this).parent().parent().remove();
	});
	});
	
	function validateComment() {
		//validate contact length on submit
		var max = 300;
		var text = $("#message-body").val();
		len = text.length
		if (len > max || len == 0) {
			alert("Comment too long or no comment");
			return false;
		}
		return true;
	}
	
</script>
