<!DOCTYPE html>
<html>
<head>
  <title>SafeBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- bootstrap is now linked in application.scss -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">-->
</head>
<body>
	
<!-- javascript localization -->
<%= javascript_tag do %>
  window.translate = <%= I18n.backend.send(:translations).to_json.html_safe %>
  if ("<%=session[:language]%>" == "en" || "<%=session[:language]%>" == "") {
    translate = translate["en"]
  } else if ("<%=session[:language]%>" == "pl") {
	translate = translate["pl"]
  }
<% end %>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">SafeBuddy <%= image_tag("handcuffs.jpg", :class=>"logo") %></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li class="active"><a href="/"><%=t'Home'%></a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t'More'%><span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="/police_regions"><%=t'Police Regions'%></a></li>
			<li><a href="/police_regions/compare"><%=t'Region Comparison'%></a></li>
			<% if !session[:user_id].nil? && User.find(session[:user_id]).isMod %>
				<li role="separator" class="divider"></li>
				<li class="dropdown-header"><%=t'mod_options'%></li>
				
				<li><a href="/users/list"><%=t'user_list'%></a></li>
				<li><a href="/news/list"><%=t'article_list'%></a></li>
			<% end %>
		  </ul>
		</li>
		<li><form action="/search" method="get">
			<div class="input-group search">
				<input type="text" class="form-control" placeholder="<%=t'search'%>" name="search_query" id="search_query">
				<div class="input-group-btn">
					<button id="submit-search" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>
        </form></li>
	  </ul>
	  <a href="/sessions/locale/pl" class="flag"><img src="/pl_flag.png"/></a><a href="/sessions/locale/en" class="flag"><img src="/uk_flag.png"/></a>
	  <ul class="nav navbar-nav navbar-right">
		<% if session[:user_id].nil? %>
			<li class="logbox"><a>
				<form id="login-form" action="/users/login" method="post">
					<p><%=t'username'%>:&nbsp;&nbsp;<input name="username" type="text"/></p>
					<p><%=t'password'%>: <input name="password" type="password" style="margin-left:1px;"/></p>
				</form>
			</a></li>
			<li><a href="#" id="send-login-form"><%=t'Login'%></a></li>
			<li><a href="/users/register" id="register"><%=t'Register'%></a></li>
		<% else %>
			<li><a><%=t'Hello'%>, <%= User.find(session[:user_id]).name %></a></li>
			<li><a href="/sessions/destroy" id="logout"><%=t'Logout'%></a></li>
		<% end %>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>


<script type="text/javascript">
	$(document).ready(function() {
		$("#send-login-form").click(function() {
			//$("#login-form").submit();
			login();
		});
		$('#login-form input').keypress(function(e) {
			var code = e.keyCode || e.which;
			if(code == 13) {
				login();
			}
		});
	});
	
	function login() {
		var params = {
			username: $('#login-form').find('input[name="username"]').val(),
			password: $('#login-form').find('input[name="password"]').val(),
		};
		$.ajax({
			type: "POST",
			url: "/sessions/create",
			data: params,
			dataType: "json",
			success: function(authenticated) {
				if(authenticated.name != undefined) {
					location.replace("/regions/"+authenticated.region_id);
				} else {
					console.log("not");
					$("#login-error").show().delay(3000).fadeOut(1000);
				}
			}
		});
	}
</script>

<%= yield %>

<!-- wrong credentials message -->
<div id="login-error">
	<%=t'login_error'%>
</div>


</body>
</html>
