<!DOCTYPE html>
<html>
<head>
  <title>SafeBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- highcharts -->
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
  <!-- topojson -->  
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <!-- bootstrap -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">-->
</head>
<body>


<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">SafeBuddy <%= image_tag("handcuffs.jpg", :class=>"logo") %></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#contact">Contact</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="/police_regions">Police Regions</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li class="dropdown-header">Nav header</li>
			<li><a href="#">Separated link</a></li>
			<li><a href="#">One more separated link</a></li>
		  </ul>
		</li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<% if session[:user_id].nil? %>
			<li class="logbox"><a>
				<form id="login-form" action="/users/login" method="post">
					<p>username: <input name="username" type="text"/></p>
					<p>password: <input name="password" type="password" style="margin-left:1px;"/></p>
				</form>
			</a></li>
			<li><a href="#" id="send-login-form">Login</a></li>
			<li><a href="/users/register" id="register">Register</a></li>
		<% else %>
			<li><a>Hello, <%= User.find(session[:user_id]).name %></a></li>
			<li><a href="/sessions/destroy" id="logout">Logout</a></li>
		<% end %>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>

<script type="text/javascript">
	$(document).ready(function() {
		$("#send-login-form").click(function() {
			//$("#login-form").submit();
			login();
		});
		$('#login-form input').keypress(function(e) {
			var code = e.keyCode || e.which;
			if(code == 13) {
				login();
			}
		});
	});
	
	function login() {
		var params = {
			username: $('#login-form').find('input[name="username"]').val(),
			password: $('#login-form').find('input[name="password"]').val(),
		};
		$.ajax({
			type: "POST",
			url: "/sessions/create",
			data: params,
			dataType: "json",
			success: function(authenticated) {
				if(authenticated.isAuthenticated) {
					location.reload();
				} else {
					$("#login-error").show().delay(3000).fadeOut(1000);
				}
			}
		});
	}
</script>




<%= yield %>

<!-- wrong credentials message -->
<div id="login-error">
	wrong username or password
</div>

</body>
</html>
